[
 {:db/id #db/id[:db.part/db]
  :db/ident :country/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/index true
  :db/doc "The name of the country"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :genre/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/index true
  :db/doc "The name of the genre"
  :db.install/_attribute :db.part/db}


 ;; artist attributes
 {:db/id #db/id[:db.part/db]
  :db/ident :artist/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/index true
  :db/doc "The artist's name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :artist/sortName
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true
  :db/doc "The artist's name for use in alphabetical sorting, e.g. Beatles, The"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :artist/country
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The artist's country of origin"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :artist/images
  :db/valueType :db.type/uri
  :db/cardinality :db.cardinality/many
  :db/doc "Links to the artist's images"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :artist/genres
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Artist's genres"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :artist/history
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "History of the artist's info changes as a list of user-time pairs"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :artist/biography
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "Biography of the artist"
  :db.install/_attribute :db.part/db}


  ;; release attributes
 {:db/id #db/id[:db.part/db]
  :db/ident :release/country
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The country where the recording was released"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :release/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/index true
  :db/doc "The name of the release"
  :db.install/_attribute :db.part/db}
 
 {:db/id #db/id[:db.part/db]
  :db/ident :release/year
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/index true
  :db/doc "The year of the release"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :release/month
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The month of the release"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :release/day
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The day of the release"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :release/artists
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The set of artists contributing to the release"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
   :db/ident :release/tracks
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "The set of tracks in the release"
   :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :release/image
  :db/valueType :db.type/uri
  :db/cardinality :db.cardinality/one
  :db/doc "Link to the folder of the release"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :release/genres
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Genres the release belongs to"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :release/history
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "History of the release changes as a list of user-time pairs"
  :db.install/_attribute :db.part/db}


 ;; track attributes
 {:db/id #db/id[:db.part/db]
  :db/ident :track/artists
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The artists who contributed to the track"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :track/position
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The position of the track relative to the other tracks on the medium"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :track/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/index true
  :db/doc "The track name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :track/duration
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/index true
  :db/doc "The duration of the track in msecs"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :track/history
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "History of the track changes as a list of user-time pairs"
  :db.install/_attribute :db.part/db}


 ;; user attributes
 {:db/id #db/id[:db.part/db]
  :db/ident :user/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The name of the user"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "User's email address"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/encrypted-password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Hash value of the user's password"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/favorite-releases
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "User's favorites: releases"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/favorite-artists
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "User's favorites: artists"
  :db.install/_attribute :db.part/db}


 ;; history attributes
 {:db/id #db/id[:db.part/db]
  :db/ident :history/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A user who made a change"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :history/time
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Time of change"
  :db.install/_attribute :db.part/db}


 ;; comment attributes
 {:db/id #db/id[:db.part/db]
  :db/ident :comment/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A user who wrote a comment"
  :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
  :db/ident :comment/release
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The release for those the comment was added"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :comment/text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Text of the comment"
  :db.install/_attribute :db.part/db}
 ]
 